services:
  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: php-fpm
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - ./php:/var/www/html
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
  
  node:
    build: ./node
    container_name: nimon_node
    environment:
      PORT: 3000
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      JWT_SECRET: ${JWT_SECRET}
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
      VAPID_PRIVATE_KEY: ${VAPID_PRIVATE_KEY}
      VAPID_SUBJECT: ${VAPID_SUBJECT}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
    volumes:
      - ./node:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-server
    ports:
      - "8080:80"
    volumes:
      - ./php/public:/var/www/html/public 
      - ./react/dist:/var/www/react
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - node
    networks:
      - app-network

  postgres:
      image: postgres:18-alpine
      container_name: postgres-db
      environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASS}
      volumes:
        - db-data:/var/lib/postgresql/data
        - ./database/db_schema.sql:/docker-entrypoint-initdb.d/01-init.sql
        - ./database/seed_products.sql:/docker-entrypoint-initdb.d/02-seed-products.sql
      ports:
        - "5432:5432"
      networks:
        - app-network
      
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
        interval: 10s
        timeout: 5s
        retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  db-data: