.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.error-code {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1;
    color: #42b549;
}

.message {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.back-btn {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #42b549;
    border: 2px solid #42b549;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.back-btn:hover {
    background-color: #42b549;
    color: white;
}
